[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
NODE_VERSION = "18"

[[services]]
name = "web"
source = "."
healthcheckPath = "/"
healthcheckTimeout = 300
